@font-face {
    font-family: 'dungeon';
    src: url('./dungeon.ttf');
}

body {
    background-image: url(./map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}