@font-face {
    font-family: 'dungeon';
    src: url('./dungeon.ttf');
}

body {
    background-image: url(./wood.png);
    /*background-size: cover;
    background-position: center;*/
}

.bg {
    width: 100%;
    height: 100%;
    background-image: url(./map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}